<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button expand="full" class="ion-margin-top" (click)="adicionar()">
    Adicionar
  </ion-button>

  <ion-button expand="full" class="ion-margin-top" routerLink="/listar-contatos">
    Ver Contatos
  </ion-button>
</ion-content>
